---
layout: default
title: "Beyond Prototyping 2023 - Participants"
---



<div class="container mt-4">


	<div class="row">

		<h4 class="fw-bold mb-3 text-info">Participants</h4>

		<table class="table tablesorter" id="participants">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Affiliation</th>
					<th scope="col">Paper</th>
					<th scope="col">Video</th>
				</tr>
			</thead>
			<tbody>
				{% for participant in site.data.participants %}
				<tr>
					<td>
						<span {% if participant.Role=="organizer" %} class="fw-bold" {% endif %}>{{ participant.Name
							}}</span>
						{% if participant.Role == "organizer" %}
						<br />
						<span class="fst-italic">(organizer)</span>
						{% endif %}
					</td>
					<td>{{ participant.Affiliation }}</td>
					<td>
						{% assign papers = participant.Paper | split: " / " %}
						{% assign ids = participant.ID | split: "," %}
						{% for paper in papers %}
						<a class="text-underline text-info" href="papers.html#paper-{{- ids[forloop.index0] -}}">{{
							paper }}</a>
						{% endfor %}
					</td>
					<td>
						{% if participant.Video %}
						<span class="text-info"><a class="text-info" href="{{ participant.Video | relative_url }}"
								target="_blank">video</a></span>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		<button type="button" class="reset btn btn-primary" data-column="0" data-filter="">Reset filters</button>

	</div>

</div>