<!-- Banner image -->


<div class="text-center">
	<div class="img-banner d-block w-100"></div>
	<img class="w-100 bg-white px-3" src="{{ '/assets/images/logos.png' | relative_url }}" alt="">

	<!-- Banner -->
	<!-- <div class="col-xl-8 col-xxl-6 mx-xl-auto m-4">
		<div class="alert alert-danger alert-dismissible fade show fs-5" role="alert">
			<strong>Update:</strong> Submission deadline is extended until Friday, February 24th!
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	</div> -->

	<div class="py-1 text-dark text-center navbar-color1 m-4">
		<h1 class="display-4 fw-bold mb-3">{{ page.heading }}:</h1>
		<h1 class="display-6 fw-bold mb-3 text-info">{{ page.subheading }}</h1>
		<p class="fs-5 m-4 text-center"><span class="border rounded p-2"><span class="text-danger">CHI2023 Workshop
					[WS2]</span> | <span>Sunday, April 23rd</span> | <span class="text-info">Room X03</span></span></p>
	</div>

	<div class="col-xl-8 col-xxl-6 mx-xl-auto m-4">
		<!-- introduction -->
		<p class="lead mb-4">Electronics prototyping boards such as Arduino, BBC micro:bit, and Raspberry Pi, work with
			a variety of software tools to enable a wide variety of creators with and without an engineering background
			— including students and researchers — to rapidly and inexpensively create interactive prototypes. By
			opening up the process of prototyping to more creators, and by making it cheaper and quicker, these
			prototyping platforms and toolkits have enabled research and explorations that weave computing into the
			fabric of the world around us.</p>
		<p class="lead mb-4">Today, however, the most successful platforms follow a particular format: they are based on
			a rigid circuit board comprising a microcontroller and general-purpose expansion ports or pins. While these
			technologies support prototyping pretty effectively, <strong class="fw-bold text-info">we think there is
				still an opportunity for a more diverse set of technologies to further empower an even broader set of
				technology designers, engineers, makers, and researchers</strong>.</p>

		<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img class="d-block w-100" src="../assets/pictures/1.jpg" alt="First slide">
				</div>
				<div class="carousel-item">
					<img class="d-block w-100" src="../assets/pictures/2.jpg" alt="Second slide">
				</div>
				<div class="carousel-item">
					<img class="d-block w-100" src="../assets/pictures/3.jpg" alt="Third slide">
				</div>
			</div>
		</div>


		<h4 class="text-primary fw-bold mb-4 mt-5">Results and resources</h4>

		<p class="lead">At the workshop we had <strong class="fw-bold text-primary">45 registered participants from 11
				countries</strong>. The results of the workshop
			as
			well
			some pictures of the event can be found <a
				href="https://drive.google.com/drive/folders/1vnjGMQLSEYCe59ImiSozmBVhdGc_M6WL">here</a>. We also
			maintain an open <a href="https://discord.gg/yebg9PmWsR">Discord server</a> that you can join for updates.
		</p>

		<div>
			<!--  The slides of the introduction -->
			<iframe
				src="https://docs.google.com/presentation/d/e/2PACX-1vSvKQFKtwaRqFZQ905LoU0BzD3_5dK0i1b8Q0tn3iHVOqNA8qkWGIVGqurhFzONfGYVABfUx3unFqLz/embed?start=false&loop=false&delayms=3000"
				frameborder="0" width="960" height="749" allowfullscreen="true" mozallowfullscreen="true"
				webkitallowfullscreen="true"></iframe>

		</div>


		<!-- about -->
		<h4 class="text-primary fw-bold mb-4 mt-5">About the Workshop</h4>
		<div class="row">
			<div class="col-md-8 col-xxl-9">
				<p class="lead">With this workshop, <strong class="fw-bold text-primary">we aim to understand how recent
						software and hardware trends</strong>, from metamaterials to neurally-inspired processors, from
					printed electronics to reprogrammable digital and analog arrays (FPGAs & FPAAs), and from
					MicroPython to live-programming <strong class="fw-bold text-primary">might be leveraged in future
						prototyping software platforms and hardware toolkits, beyond the well-established paradigm of
						mainstream microcontroller boards</strong>. What is the future of electronics prototyping
					toolkits? How will the requirements and applications of new prototyping toolkits evolve? How will
					these tools fit in the current ecosystem, and how will they be learned? What are the new
					opportunities for research and commercialization?</p>
			</div>
			<div class="col-md-4 col-xxl-3 col-6 mx-auto">
				<a href="{{ '/assets/Beyond_Prototyping_Boards.pdf' | relative_url }}" target="_blank"><img
						src="{{ '/assets/images/thumbnail.png' | relative_url }}" alt="Paper"
						class="border border-2 w-100 rounded border-info"></a>
			</div>
			<p class="lead">This workshop will bring together those working in academia, industry, and beyond, with
				experience or interest in physical computing, electronic hardware design, software platforms for device
				prototyping, and digital fabrication of electronics for interactive artifacts. <strong
					class="fw-bold text-info">The workshop organizers will foster discussion, facilitate synthesis work,
					help the exchange of ideas to move the field forward, and build a community at CHI around electronic
					prototyping tools and toolkits</strong>. For more details about the workshop please see the <a
					href="{{ '/assets/Beyond_Prototyping_Boards.pdf' | relative_url }}" class="text-info"
					target="_blank">accepted workshop proposal</a> document.</p>
		</div>

		<!-- participation -->
		<h4 class="text-primary fw-bold mb-4 mt-5">How to Participate?</h4>
		<p class="lead">If you are interested in participation, please submit a <strong class="fw-bold">two to four-page
				position paper</strong> using the following Word template: <a
				href="{{ '/assets/workshop_submission_template.docx' | relative_url }}" download>docx</a>. Your position
			paper should describe a novel software or hardware platform, toolkit, or technique to support or improve the
			process of electronic prototyping. We also welcome submissions that are more abstract but try to either
			describe the limits of the current approaches or build on them with new ideas and suggestions. The paper
			should also briefly introduce yourself or your team and we encourage you to outline a vision for future ways
			of prototyping. These papers will form the basis of the group discussions at the workshop. <strong
				class="fw-bold">Accepted papers will be published under <a
					href="https://creativecommons.org/licenses/by/4.0/">Creative Commons License</a> (Attribution 4.0
				International) and posted on this website for public reference</strong>.</p>
		<p class="lead">Upon acceptance of the submission you will be required to prepare <strong class="fw-bold">a
				1-minute introductory video of yourself and your work that will be shared online</strong> with the rest
			of the participants <em>before</em> the workshop. At least one participant among the authors of a submission
			<em>must</em> physically attend the workshop.
		</p>

		<!-- practical + timeline -->
		<h4 class="text-primary fw-bold mb-4 mt-5">Practical Information</h4>
		<table class="table text-start">
			<tbody>
				<tr>
					<th>Submission deadline</th>
					<td>
						<del>Friday, February 17th, 2023 <small>(AoE)</small></del>
						<br />
						<del><strong>Updated: Friday, February 24th, 2023 <small>(AoE)</small></strong></del>
					</td>
				</tr>
				<tr>
					<th>Notification</th>
					<td>
						<del>Friday, March 3rd, 2023</del>
						<br />
						<del><strong>Updated: Monday, March 6th, 2023</strong></del>
					</td>
				</tr>
				<tr>
					<th>Submission deadline for camera-ready papers</th>
					<td><del>Friday, March 24th, 2023</del></td>
				</tr>
				<tr>
					<th>Submission deadline for video's of accepted papers</th>
					<td><del>Friday, March 31th, 2023</del></td>
				</tr>
				<tr>
					<th>Workshop date</th>
					<td>Sunday, April 23rd, 2023</td>
				</tr>
				<tr>
					<th>Workshop location</th>
					<td><b>Room X03</b></td>
				</tr>
				<tr>
					<th>Workshop duration</th>
					<td>9:00 am to 5:00 pm</td>
				</tr>
				<tr>
					<th>Paper template</th>
					<td><a class="link-info" href="{{ '/assets/workshop_submission_template.docx' | relative_url }}"
							download>workshop_submission_template.docx</a></td>
				</tr>
				<tr>
					<th>Submission platform</th>
					<td><a href="https://electrofab23.hotcrp.com" target="_blank"
							class="link-info">https://electrofab23.hotcrp.com</a></td>
				</tr>
				<tr>
					<th>Contact us</th>
					<td><a href="mailto: electrofab.workshop@gmail.com">electrofab.workshop@gmail.com</a></td>
				</tr>
				<tr>
					<th>ElectroFab Discord</th>
					<td><a href="https://discord.gg/eSwwcdnYpr" target="_blank"
							class="link-info">https://discord.gg/eSwwcdnYpr</a></td>
				</tr>
			</tbody>
		</table>

		<!-- schedule -->
		<h4 class="text-primary fw-bold mb-4 mt-5">Schedule</h4>
		<p class="lead">The workshop will be hosted at CHI2023 <a href="https://chi2023.acm.org/" target="_blank"
				class="link-info">(https://chi2023.acm.org)</a> and consists of a 1-day in-person event. We expect
			roughly 45 participants. We plan a series of activities to learn about each other's work and interests,
			present personal perspectives, work in small teams, and participate in moderated discussions. We encourage
			participants to bring prototypes and show videos of their work to ground the interactive discussions.</p>
		<table class="table text-start">
			<tbody>
				<tr>
					<th>8:30 - 9:00</th>
					<td>Registration and coffee</td>
				</tr>
				<tr>
					<th>9:00 - 9:10</th>
					<td>Welcome & introduction</td>
				</tr>
				<tr>
					<th>9:10 - 10:00</th>
					<td>Activity <span class="text-info fw-bold">Uno</span>: Overview & Speed-Dating</td>
				</tr>
				<tr>
					<th>10:00 - 10:45</th>
					<td>Steve Hodges' keynote: <em>"A new era of fabrication tools?"</em></td>
				</tr>
				<tr>
					<th>10:45 - 11:00</th>
					<td><em>Break</em></td>
				</tr>
				<tr>
					<th>11:00 - 12:00</th>
					<td>Activity <span class="text-info fw-bold">Due</span>: Group activity - What are the biggest
						challenges?</td>
				</tr>
				<tr>
					<th>12:00 - 14:00</th>
					<td><a href="https://altes-maedchen.com/de/diele/altes-maedchen/">Lunch</a> offered by <span
							class="text-info fw-bold">Arduino</span></td>
				</tr>
				<tr>
					<th>14:00 - 14:45</th>
					<td>Activity <span class="text-info fw-bold">MKR</span>: Prototypes fair demos</td>
				</tr>
				<tr>
					<th>14:45 - 15:45</th>
					<td>Activity <span class="text-info fw-bold">Mega</span>: Guided analytical small-group discussions
					</td>
				</tr>
				<tr>
					<th>15:45 - ~16:30</th>
					<td>Wrap-up discussion</td>
				</tr>
			</tbody>
		</table>
	</div>

	<!-- organizers -->
	<h4 class="text-primary fw-bold mb-4 mt-5">Organizers</h4>
	<div class="container">
		<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-3 g-4">

			{% for organizer in site.organizers %}
			<div class="col">
				<div class="h-100 m-4">
					<img src="{{ '/assets/images/organizers/' | append: organizer.avatar | relative_url }}"
						class="w-75 card-img-top rounded-circle p-4" alt="{{ organizer.name }}">
					<div class="text-center mt-4">
						<h5 class="card-title"><a class="text-primary"
								href="{{ organizer.url | relative_url }}">{{organizer.name }}</a></h5>
						<h6 class="card-subtitle mt-2 text-muted">{{ organizer.affiliation }},</h6>
						<h6 class="card-subtitle mb-2 text-muted">{{ organizer.country }}</h6>
					</div>

					<div class="fs-5 text-center">
						{% if organizer.github %}
						<a class="m-1" target="_blank" href="{{ organizer.github }}"><i
								class="fa-brands fa-github text-primary"></i></a>
						{% endif %}
						{% if organizer.linkedin %}
						<a class="m-1" target="_blank" href="{{ organizer.linkedin }}"><i
								class="fa-brands fa-linkedin text-primary"></i></a>
						{% endif %}
						{% if organizer.email %}
						<a class="m-1" target="_blank" href="{{ organizer.email }}"><i
								class="fa-solid fa-at text-primary"></i></a>
						{% endif %}
						{% if organizer.website %}
						<a class="m-1" target="_blank" href="{{ organizer.website }}"><i
								class="fa-solid fa-globe text-primary"></i></a>
						{% endif %}
						{% if organizer.twitter %}
						<a class="m-1" target="_blank" href="{{ organizer.twitter }}"><i
								class="fa-brands fa-twitter text-primary"></i></a>
						{% endif %}
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>

	<!-- sponsor -->
	<h4 class="text-primary fw-bold mb-4 mt-5">Sponsor</h4>
	<p class="fs-6">
		<a href="https://www.arduino.cc" target="_blank">
			<figure class="figure">
				<img src="{{ '/assets/images/arduino_teal.png' | relative_url }}" alt="Arduino" style="width:200px">
				<figcaption class="figure-caption text-center">https://www.arduino.cc</figcaption>
			</figure>
		</a>
	</p>

</div>