
.img-banner {
	background-image: $banner;
	background-size: cover;
	height: 200px;
}

@include media-breakpoint-up(sm) {
	.img-banner {
		height: 300px;
	}
}

@include media-breakpoint-up(md) {
	.img-banner {
		height: 400px;
	}
}



.img-mask {
	background-color: rgba(0, 0, 0, 0.6);
}

.header {
	height: $header_height;
	font-size: 0.9rem;
}

body {
	padding-top: $header_height;
}

footer {
	margin-top: 40px;
}

.scroll-correction{
    padding-top: $header_height;
}

.text-underline-hover {
    text-decoration: none;
}

.text-underline-hover:hover {
    text-decoration: underline;
}


p {
	text-align: justify;
}