
.img-banner {
	background-image: url($banner);
	background-size: cover;
	height: 200px;
}

@include media-breakpoint-up(sm) {
	.img-banner {
		height: 300px;
	}
}

@include media-breakpoint-up(md) {
	.img-banner {
		height: 400px;
	}
}


.navbar{
	z-index: 2;
}
.close-navbar-toggler{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}
.close-navbar-toggler.collapsed{
	z-index: -1;
}

.img-mask {
	background-color: rgba(0, 0, 0, 0.6);
}

nav.header {
	/*height: $header_height;*/
	font-size: 0.8rem;
}

body {
	padding-top: $header_height;
	position: relative;
}

footer {
	margin-top: 40px;
}

.scroll-correction{
    padding-top: $header_height;
}

.text-underline-hover {
    text-decoration: none;
}

.text-underline-hover:hover {
    text-decoration: underline;
}


p {
	text-align: justify;
}