---
---

@charset 'UTF-8';

$header_height: 50px;
$banner: "{{ '/assets/images/banner.jpg' | relative_url }}";
//$navbar_background: #979088;
$navbar_background: #089aa0;

@import "config";
@import "bootstrap-5.2.0/bootstrap";
@import "main";

