<p class="lead">
	If you are interested in participation, please submit a <strong class="fw-bold">two to four-page position
		paper</strong> using the following Word template: <a
		href="{{ '/assets/workshop_submission_template.docx' | relative_url }}" download>docx</a>. Your position paper
	should describe a novel software or hardware platform, toolkit, or technique to support or improve the process of
	electronic prototyping. We also welcome submissions that are more abstract but try to either describe the limits of
	the current approaches or build on them with new ideas and suggestions. The paper should also briefly introduce
	yourself or your team and we encourage you to outline a vision for future ways of prototyping. These papers will
	form the basis of the group discussions at the workshop. <strong class="fw-bold">Accepted papers will be published
		under <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons
			License</a> (Attribution 4.0 International) and posted on this website for public reference.</strong>
</p>
<p class="lead">
	Upon acceptance of the
	submission you will be required to prepare <strong class="fw-bold">a 2-minute introductory video of yourself and
		your work that will be
		shared online</strong> with the rest of the participants <em>before</em> the workshop. At least one participant
	among the authors of a submission <em>must</em> physically attend the workshop.
</p>