<p class="lead">
	The workshop will be hosted at CHI2023 <a href="https://chi2023.acm.org/" target="_blank"
		class="link-info">(https://chi2023.acm.org)</a> and consists of a 1-day in-person event. We expect roughly 20
	participants. We plan a series of activities to learn about each other’s work and interests, present personal
	perspectives, work in small teams, and participate in moderated discussions. We encourage participants to bring
	prototypes and show videos of their work to ground the interactive discussions.
</p>

<p class="lead">This is the <strong class="fw-bold">tentative schedule</strong> for the day:</p>

<table class="table text-start">
	<tbody>
		<tr>
			<th>8:30 - 9:00</th>
			<td>Registration and coffee</td>
		</tr>
		<tr>
			<th>9:00 - 9:20</th>
			<td>Welcome & introduction</td>
		</tr>
		<tr>
			<th>9:20 - 10:30</th>
			<td>Activity <span class="text-info fw-bold">Uno</span>: Overview & Speed-Dating</td>
		</tr>
		<tr>
			<th>10:30 - 10:45</th>
			<td><em>Break</em></td>
		</tr>
		<tr>
			<th>10:45 - 11:45</th>
			<td>Activity <span class="text-info fw-bold">Due</span>: Steve Hodges' talk</td>
		</tr>
		<tr>
			<th>11:45 - 13:30</th>
			<td><a href="https://altes-maedchen.com/de/diele/altes-maedchen/">Lunch</a> offered by <span
					class="text-info fw-bold">Arduino</span></td>
		</tr>
		<tr>
			<th>13:30 - 14:15</th>
			<td>Activity <span class="text-info fw-bold">Due</span> (continued): Thematic analysis and discussion</td>
		</tr>
		<tr>
			<th>14:15 - 14:30</th>
			<td><em>Break</em></td>
		</tr>
		<tr>
			<th>14:30 - 15:30</th>
			<td>Activity <span class="text-info fw-bold">Mega</span>: Guided analytical small-group discussions</td>
		</tr>
		<tr>
			<th>15:30 - 15:45</th>
			<td><em>Break</em></td>
		</tr>
		<tr>
			<th>15:45 - ~16:30</th>
			<td>Wrap-up discussion</td>
		</tr>

	</tbody>
</table>