<p class="lead">
	The workshop will be hosted at CHI2023 <a href="https://chi2023.acm.org/" target="_blank"
		class="link-info">(https://chi2023.acm.org)</a> and consists of a 1-day in-person event. We expect roughly 20
	participants. We plan a series of activities to learn about each other’s work and interests, present personal
	perspectives, work in small teams, and participate in moderated discussions. We encourage participants to bring
	prototypes and show videos of their work to ground the interactive discussions.
</p>

<p class="lead">This is the <strong class="fw-bold">tentative schedule</strong> for the day:</p>

<table class="table text-start">
	<tbody>
		<tr>
			<th>10:00 - 10:15</th>
			<td>Introduction</td>
		</tr>

	</tbody>
</table>