<table class="table text-start">
	<tbody>
		<tr>
			<th class="text-danger">Submission deadline</th>
			<td><del>Friday, February 17th, 2023 <small>(AoE)</small></del> <br /> <del><strong
						class="text-danger">Friday, February 24th, 2023 <small>(AoE)</small></strong></del></td>
		</tr>
		<tr>
			<th>Notification</th>
			<del>
				<td><del>Friday, March 3rd, 2023</del><br /><strong>Updated: Monday, March 6th, 2023</strong></td>
			</del>
		</tr>
		<tr>
			<th>Submission deadline for video of accepted papers</th>
			<td><del>Friday, March 24th, 2023 <small>(tentative)</small></del></td>
		</tr>
		<tr>
			<th>Workshop date</th>
			<td>Sunday, April 23rd, 2023</td>
		</tr>
		<tr>
			<th>Workshop duration</th>
			<td>9:00 am to 5:00 pm</td>
		</tr>
		<tr>
			<th>Paper template</th>
			<td><a class="link-info" href="{{ '/assets/workshop_submission_template.docx' | relative_url }}"
					download>workshop_submission_template.docx</a></td>
		</tr>
		<tr>
			<th>Submission platform</th>
			<td><a href="https://electrofab23.hotcrp.com" target="_blank"
					class="link-info">https://electrofab23.hotcrp.com</a></td>
		</tr>
		<tr>
			<th>Contact us</th>
			<td><a href="mailto: electrofab.workshop@gmail.com">electrofab.workshop@gmail.com</a></td>
		</tr>
	</tbody>
</table>