<table class="table text-start">
	<tbody>
		<tr>
			<th>Submission deadline</th>
			<td>Friday, February 17th, 2023 <small>(AoE)</small></td>
		</tr>
		<tr>
			<th>Notification</th>
			<td>Friday, March 3rd, 2023</td>
		</tr>
		<tr>
			<th>Submission deadline for video of accepted papers</th>
			<td>Friday, March 24th, 2023 <small>(tentative)</small></td>
		</tr>
		<tr>
			<th>Workshop date</th>
			<td>Sunday, April 23rd, 2023</td>
		</tr>
		<tr>
			<th>Workshop duration</th>
			<td>9am to 3pm</td>
		</tr>
		<tr>
			<th>Paper template</th>
			<td><a class="link-info" href="{{ '/assets/workshop_submission_template.docx' | relative_url }}" download>workshop_submission_template.docx</a></td>
		</tr>
		<tr>
			<th>Submission platform</th>
			<td><a href="https://electrofab23.hotcrp.com" target="_blank" class="link-info">https://electrofab23.hotcrp.com</a></td>
		</tr>				
		<tr>
			<th>Contact us</th>
			<td><a href="mailto: electrofab.workshop@gmail.com">electrofab.workshop@gmail.com</a></td>
		</tr>
	</tbody>
</table>