
<div class="row">
	<div class="col-md-8 col-xxl-9">
		<p class="fs-6">
			With this workshop, <strong class="text-muted">we aim to understand how recent software and hardware trends</strong>, from metamaterials to neurally-inspired processors, from printed electronics to reprogrammable digital and analog arrays (FPGAs & FPAAs), and from MicroPython to live-programming <strong class="text-muted">might be leveraged in future prototyping software platforms and hardware toolkits, beyond the well-established paradigm of mainstream microcontroller boards</strong>. What is the future of electronics prototyping toolkits? How will the requirements and applications of new prototyping toolkits evolve? How will these tools fit in the current ecosystem, and how will they be learned? What are the new opportunities for research and commercialization?
		</p>
		
		<p class="fs-6">
			This workshop will bring together those working in academia, industry, and beyond, with experience or interest in physical computing, electronic hardware design, software platforms for device prototyping, and digital fabrication of electronics for interactive artifacts. <strong class="text-muted">The workshop organizers will foster discussion, facilitate synthesis work, help the exchange of ideas to move the field forward, and build a community at CHI around electronic prototyping tools and toolkits</strong>. For more details about the workshop please see the <a href="{{ '/assets/Beyond_Prototyping_Boards.pdf' | relative_url }}" class="text-info" target="_blank">accepted workshop proposal</a> document.
		</p>
	</div>
	<div class="col-md-4 col-xxl-3 col-6 mx-auto">
		<a href="{{ '/assets/Beyond_Prototyping_Boards.pdf' | relative_url }}" target="_blank">
			<img src="{{ '/assets/Beyond_Prototyping_Boards.png' | relative_url }}"  alt="Paper" class="border w-100">
		</a>
		
	</div>

</div>

